<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>io.ubiqtek.tilr-cli</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>tilr</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)$(TILR_VERSION_SUFFIX)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>TILRBuildDate</key>
	<string>$(TILR_BUILD_DATE)</string>
</dict>
</plist>
